*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ruta de colores pagina */
:root{
    --color_primario: #FBBB02;
    --color_secundario: #262626;
    --color_terciario: #D3D3D3;
    --color_letra_header: #000000;
    --font-family: "Architects Daughter";
}

/* font family */

.architects-daughter-regular {
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
}

/* header */

header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: auto;
    gap: 0px;
    opacity: 0px;
}

header .logo_cesteros img{
    width: 110px;
    height: 95px;
    top: 2px;
    left: 25px;
    gap: 0px;
    opacity: 0px;
    margin-left: 25%;
}

header nav{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50%;
    height: 100%;
}

header nav ul{
    display: flex;
    width: 100%;
    height: 100%;
    margin-right: 2%;
}

header nav ul li{
    display: flex;
    list-style: none;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    margin-right: 5%;
    height: 100%;
}

header nav ul li a{
    color: var(--color_letra_header);
    text-decoration: none;
    font-weight: 600;
}


header nav ul li.active a {
    color: var(--color_primario);
    border-bottom: 1px solid var(--color_primario);
}

header nav ul li a:hover{
    color: var(--color_primario);
}

/* Section Styles */

main section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color_primario);
    padding: 0 0 0 10%;
    width: auto;
    height: 644px;
    gap: 10px;
    opacity: 1px;
}

main section .tituloN1{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 2%;
    padding-bottom: 5%;
}

main section .tituloN1 h1{
    font-size: 64px;
    font-weight: 500;
    line-height: 77.45px;
    text-align: left;

}

main section .tituloN1 p{
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    text-align: left;
}


/* carrusel img */

main section .carrusel {
    display: flex;
    width: 60%;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}


main section .carrusel .swiper {
    width: 100%;
    height: 70%;
}

main section .carrusel .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section .carrusel .swiper-slide {
    width: 100%;
}

section .carrusel .swiper-slide img {
    width: 100%;
}

main section .carrusel .swiper-slide:nth-child(1n) {
    width: 25%;
}
main section .carrusel .swiper-slide:nth-child(2n) {
    width: 25%;
}

main section .carrusel .swiper-slide:nth-child(3n) {
    width: 25%;
}

main section .carrusel .swiper-slide:nth-child(4n) {
    width: 25%;
}

main section .carrusel .swiper-slide:nth-child(5n) {
    width: 25%;
}

/* manos tejen section */

main .tipos_tejen{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding: 4rem;
    width: auto;
    height: auto;
    top: 744px;
    gap: 0px;
    opacity: 0px;
}

main .tipos_tejen .tittle_manos h2{
    color: var(--color_primario);
    font-family: var(--font-family);
    font-size: 36px;
    font-weight: 400;
    line-height: 50.03px;
    text-align: left;
    margin-bottom: 3rem;

}
main .tipos_tejen .img_text{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

main .tipos_tejen .img_text img{
    width: 200px;
    height: 200px;
    margin-top: 3rem;
    margin-bottom: 20px;
    gap: 0px;
    border-radius: 210px;
    opacity: 0px;
}

main .tipos_tejen .img_text{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 16.41px;

}

main .tipos_tejen .img_text .img_tradi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .tipos_tejen .img_text .img_tradi h3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0 20px 0;
    align-items: center;
}

main .tipos_tejen .img_text .img_bisu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


main .tipos_tejen .img_text .img_bisu h3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0 20px 0;
    align-items: center;
}

main .tipos_tejen .img_text .img_hogar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .tipos_tejen .img_text .img_hogar h3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0 20px 0;
    align-items: center;
}

/*  section info */

main .info_section .black {
    position: absolute;
    background: #00000099;
    width: 100%;
    right: 0.1px;
    height: 546px;
    z-index: 100;
}

main .info_section {
    display: flex;
    justify-content: space-around;
    width: auto;
    height: 546px;
    gap: 0px;
    opacity: 0px;
    background-image: url(/Images/fondo_info.png);
    background-size: cover;
}

main .info_section .text_info {
    font-family: var(--font-family);
    color: var(--color_terciario);
    position: relative;
    z-index: 150;
}

main .info_section .text_info h2{
    font-size: 60px;
    font-weight: 400;
    line-height: 66.7px;
    text-align: left;
}
main .info_section .text_info p{
    margin-top: 43px;
}

main .info_section .save_email{
    padding-right: 40px;
    display: flex;
    font-family: var(--font-family);
    position: relative;
    z-index: 150;
}

main .info_section .save_email .text {
    margin-right: -1px;
    background-color: #FFFFFF66;
    color: white;
    width: 500px;
    height: 73px;
    border-style: none;
    top: 209px;
    left: 785px;
    padding: 34px 21px 34px 21px;
    gap: 10px;
    border-radius: 10px 0px 0px 10px;
    outline: none; 
}

main .info_section .save_email .text::placeholder {
    color: white;
}


main .info_section .save_email .send{
    margin-left: -1px; 
    border-style: none;
    background-color: var(--color_primario);
    width: 76px;
    height: 72.674999px;
    top: 209px;
    left: 1240px;
    gap: 0px;
    border-radius: 0px 10px 10px 0px;
    opacity: 0px;
}
/* mapa */

main .map{
    width: auto;
    background-color: var(--color_terciario);
    height: 421px;
    gap: 0px;
    opacity: 1px;
}

#mapid {
    width: 100%;
    right: 100px;
    height: 421px;
}

/* dudas o comentarios */
main .dudas{
    font-family: var(--font-family);
    width: auto;
    background-color: white;
    height: 421px;
    opacity: 1px;
}

main .dudas .conteiner_1 {
    display: flex;
    flex-direction: column;
    border-style: none;
    outline: none; 
    padding-bottom: 40px;
}

main .dudas .conteiner_1 h2{
    margin-bottom: 50px;
}

main .dudas .conteiner_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-style: none;
    outline: none; 
}

main .dudas .conteiner_2 input {
    border: none;
    border-bottom: 2px solid var(--color_primario);
    color: black;
    outline: none;  
    width: 500px;
    height: 73px;
    top: 2315px;
    left: 735px;
    padding: 34px 21px 34px 21px;
    margin-bottom: 20px;
    border-radius: 0px 0px 10px 10px; 
    border: 0px 0px 1px 0px;
}

main .dudas .conteiner_2 input::placeholder{
    color: black;
}

main .dudas .conteiner_2 .send{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color_primario);
    color: black;
    width: 118px;
    height: 42px;
    margin-top: 20px;
    padding: 0;
    gap: 10px;
    border-radius: 10px 10px 10px 10px;
}

/* footer */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color_secundario);
    width: auto;
    height: auto;
    padding: 4rem 4rem 0 4rem;
    top: 2681px;
    gap: 0px;
    opacity: 0px;
}

footer .conteiner_footer{
    display: flex;
    width: 1750px;
    justify-content: space-between;
    color: white;
}

footer .conteiner_footer h3{
    color: var(--color_primario);
    margin-bottom: 0px;
}

footer .conteiner_footer p{
    font-family: Inter;
    font-weight: 300;
    line-height: 16.94px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer .conteiner_footer .canal .canal_content{
    display: flex;
    align-items: center;
}

footer .conteiner_footer .canal .canal_content p{
    margin-right: 40px;
}

footer .conteiner_footer .redes .redes_content{
    width: auto;
    padding-top: 0;
    margin: 0;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .conteiner_footer .redes .redes_content div{
    margin: 20px  0 0;
    display: flex;
    align-items: center;
}

footer .conteiner_footer .redes .redes_content div p{
    margin: 0 0 0 10px;
}

footer .conteiner_footer .contacto .contacto_content{
    width: auto;
    display: flex;
    flex-direction: column;
}

footer .conteiner_footer .contacto .contacto_content div{
    display: flex;
    align-items: center;
    margin: 5px;
}

footer .conteiner_footer .contacto .contacto_content div p{
    margin: 0 0 0 10px;
}

footer .dev{
    color: white;
    margin-top: 5px;
}

footer .dev span{
    color: var(--color_primario);
}