*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ruta de colores pagina */
:root{
    --color_primario: #FBBB02;
    --color_secundario: #262626;
    --color_terciario: #D3D3D3;
    --color_letra_header: #000000;
    --font-family: "Architects Daughter";
}

/* body portafolio */

main .conteinerPortafolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: white;
    width: 100%;
    height: 100%;    
}

main .conteinerPortafolio .text .tittle{
    display: flex;
    width: auto;
    justify-content: center;
    color: var(--color_primario);
    font-family: var(--font-family);
    margin: 4rem 0rem 2rem 0rem;
    font-size: 36px;
    font-weight: 400;
    line-height: 50.03px;
}

main .conteinerPortafolio .text .parrafo{
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 19.46px;
    text-align: left;
    margin: 0 0rem 4rem 0rem;
}

/* lista styles */

main .conteinerPortafolio ul{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-right: 4rem;
}

main .conteinerPortafolio li{
    background-color: white;
    text-align: center;
    width: 88px;
    height: 39px;
    padding: 10px 0px 0px 0px;
    margin: 2rem;
}


/* fotos styles */

main .conteinerPortafolio li:hover, body .conteinerPortafolio li:focus, body .conteinerPortafolio li:active {
    background-color: var(--color_primario);
}

main .conteinerPortafolio li.selected {
    background-color: var(--color_primario);
}


main .conteinerPortafolio .conteiner_photos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto-fill; 
    gap: 10px;
    width: calc(100% - 4rem); 
    min-height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 0 4rem 0;
}

main .conteinerPortafolio .conteiner_photos img{
    width: 409px;
    height: 315px;
    top: 1336px;
    left: 76px;
    gap: 0px;
    opacity: 0px;
    padding: 2px;
}

main .conteinerPortafolio li:nth-child(2) ~ .conteiner_photos{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

main .conteinerPortafolio li:nth-child(3) ~ .conteiner_photos{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

main .conteinerPortafolio li:nth-child(4) ~ .conteiner_photos{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}